*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.lock {
  overflow: hidden;
}

.slider {
  min-width: 0;
}

.dots_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 33.5%;
  right: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 28px;
}

.dots_slider li button, .dots_slider2 li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: none;
  border: 1px solid #ffffff;
  cursor: pointer;
}

li.slick-active button {
  background-color: #ffffff;
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header_active {
  padding: 7px 0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: -o-linear-gradient(207deg, rgba(126, 90, 255, 0.6) 16.9%, rgba(85, 183, 255, 0.6) 83.27%);
  background: linear-gradient(243deg, rgba(126, 90, 255, 0.6) 16.9%, rgba(85, 183, 255, 0.6) 83.27%);
}

.header_wrapper {
  max-width: 1190px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 53px;
}

.header_wrapper-padding {
  padding-top: 7px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.logo {
  margin-left: 10px;
}
.logo:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.navigation {
  padding-left: 30px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 70px;
}

.nav_list {
  position: relative;
  padding-left: 23px;
  font-family: "SourceSansPro";
  font-size: 14px;
  line-height: 18px;
}
.nav_list .kolo {
  border: 1px solid #ffffff;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0px;
}
.nav_list:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.nav_list:hover .kolo {
  background-color: #ffffff;
}

.soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 10px;
}
.soc .soc_list:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hamb_menu {
  display: none;
}

#side_block {
  width: 320px;
  position: fixed;
  right: 0;
  top: 0;
  background: -o-linear-gradient(207deg, rgba(126, 90, 255, 0.8) 16.9%, rgba(85, 183, 255, 0.8) 83.27%);
  background: linear-gradient(243deg, rgba(126, 90, 255, 0.8) 16.9%, rgba(85, 183, 255, 0.8) 83.27%);
  z-index: 12;
  padding: 27px;
  height: 100vh;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(320px);
  -ms-transform: translateX(320px);
  transform: translateX(320px);
}
#side_block.open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.wrapper_mob {
  width: 100%;
  height: 100%;
}

#mobile_menu {
  width: 100%;
  height: 100%;
}

.mob_navigation {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: capitalize;
}

.list_mob {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list_mob:hover {
  cursor: pointer;
  background-color: #2C4058;
  color: #ffffff;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.page_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  display: none;
  z-index: 11;
}
.page_overlay.open {
  display: block;
}

.slider {
  height: 100vh;
}

.slide_wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ffffff;
  position: relative;
  padding: 330px 0;
}

.name_slider {
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.text_slider {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
}

.btn_slider {
  position: relative;
  top: 240px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.7;
  border: 1px solid #FFFFFF;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn_slider:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.btn_slider-arrow {
  width: 10px;
  height: 10px;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -2.5px;
}

.kolo_slide {
  border: 1px solid #ffffff;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.slick-dots li button:before {
  content: "";
  border: 1px solid #ffffff;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #ffffff;
}

.dots_slider2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 50px;
  gap: 40px;
}

.projects_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1190px;
  margin: 0 auto;
  color: #2C4058;
  padding-bottom: 250px;
}

.border {
  border-bottom: 1px solid #2C4058;
  width: 100px;
  padding-top: 100px;
  margin-bottom: 30px;
}

.projects_title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  margin: 0 10px;
}

.contant {
  width: 90%;
  margin-top: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.projects_img {
  position: relative;
}

.fon_img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 60px;
  margin: 0 10px;
  -webkit-box-shadow: -250px -60px #55B7FF;
  box-shadow: -250px -60px #55B7FF;
}

.projects_inform {
  width: 42%;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 10px;
}

.projects_inform-position1 {
  position: relative;
  top: 43px;
  left: 20px;
}

.projects_inform-position2 {
  position: relative;
  top: 100px;
  right: 11px;
}

.projects_minititle {
  font-size: 22px;
  line-height: 27px;
  margin: 0 10px;
}

.projects_text {
  font-size: 18px;
  line-height: 30px;
  text-transform: initial;
  margin: 20px 10px 22px 10px;
}

.projects_btn {
  padding: 15px 40px;
  border: 1px solid #2C4058;
  width: 190px;
  height: 50px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #2C4058;
  margin: 0 10px 60px 10px;
}
.projects_btn:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
  background-color: #55B7FF;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.projects_btn2:hover {
  background-color: #7E5AFF;
}

.projects_link {
  font-family: "Open_Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin: 0 10px;
}
.projects_link a {
  color: #000000;
  text-transform: initial;
}

.fon_img2 {
  position: relative;
  width: 100%;
  height: 100%;
  top: 110px;
  margin-left: 1px;
  margin: 0 10px;
  -webkit-box-shadow: 270px -53px #7E5AFF;
  box-shadow: 270px -53px #7E5AFF;
}

.contant_space {
  margin-top: 140px;
}

.span_proj {
  margin-left: 10px;
  position: relative;
  top: -2px;
}

.latest_news {
  background-image: url(../img/newsfon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay_news {
  background: -o-linear-gradient(207deg, rgba(36, 204, 250, 0.6) 11.16%, rgba(60, 127, 212, 0.6) 89.18%);
  background: linear-gradient(243deg, rgba(36, 204, 250, 0.6) 11.16%, rgba(60, 127, 212, 0.6) 89.18%);
}

.latest_news-wrapper {
  max-width: 1190px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 140px;
}

.news {
  width: 90%;
  height: 100%;
  color: #2C4058;
}

.news_img-img {
  width: 100%;
}

.news_tabl {
  position: relative;
}

.news_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 370px;
  height: 100%;
  margin: 0 20px;
  background-color: #ffffff;
}
.news_list:hover {
  cursor: pointer;
}
.news_list:hover .news_img {
  overflow: hidden;
}
.news_list:hover .news_img .news_img-img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.news_titl {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #ffffff;
  margin-bottom: 90px;
}

.border_news {
  border-color: #ffffff;
}

.news_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin: 30px 0 15px 0;
  padding: 0 20px;
}

.news_text {
  font-family: "Open_Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: initial;
  margin-bottom: 40px;
  padding: 0 20px;
}

.news_autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 0 20px 30px 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.autor_foto {
  border-radius: 50%;
  overflow: hidden;
}

.news_data {
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
  text-transform: initial;
}

.autor_name {
  line-height: 22px;
  margin-bottom: 6px;
}

.btn_slider1 {
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background: none;
  position: absolute;
  top: 210px;
  left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn_slider1:hover {
  cursor: pointer;
  border: 1px solid #2C4058;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.btn_slider1:hover .btn_slider-arrow1 {
  cursor: pointer;
  border-left: 1px solid #2C4058;
  border-bottom: 1px solid #2C4058;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.btn_slider2 {
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background: none;
  position: absolute;
  top: 210px;
  right: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn_slider2:hover {
  cursor: pointer;
  border: 1px solid #2C4058;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.btn_slider2:hover .btn_slider-arrow2 {
  cursor: pointer;
  border-left: 1px solid #2C4058;
  border-bottom: 1px solid #2C4058;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.btn_slider-arrow1 {
  position: relative;
  left: 2.5px;
  width: 10px;
  height: 10px;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn_slider-arrow2 {
  position: relative;
  width: 10px;
  left: -2.5px;
  height: 10px;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.gallery {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 140px;
}

.minijpg_link {
  overflow: hidden;
}
.minijpg_link:hover .minijpg {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.gallery_light {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% 50%;
  gap: 10px;
  margin: 0 10px;
}

.big {
  grid-column: 1/3;
  grid-row: 1/3;
}

.minijpg {
  width: 100%;
  height: 100%;
}

.gallery_title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  margin-bottom: 90px;
}

.gallery_btn {
  width: 190px;
  height: 50px;
  border: 1px solid #2C4058;
  margin-top: 60px;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 17px;
}
.gallery_btn:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
  color: #ffffff;
  background-color: #2C4058;
}

#map_wrapper {
  height: 700px;
  width: 100%;
  position: relative;
  z-index: 8;
}

.none {
  display: none;
}

.map_overlay {
  background-size: cover;
  height: 700px;
  width: 100%;
  position: relative;
  z-index: 7;
}

.section_form {
  position: relative;
  margin: 0 auto;
  max-width: 1190px;
}

.forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 65%;
  height: 450px;
  position: absolute;
  z-index: 9;
  background-color: #ffffff;
  top: -300px;
  left: 210px;
  z-index: 12;
}

.forma2_wrapper {
  width: 500px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 15;
  padding: 27px;
  height: 100vh;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(500px);
  -ms-transform: translateX(500px);
  transform: translateX(500px);
  display: none;
}
.forma2_wrapper.open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.activisi {
  display: none;
}

.forma2 {
  display: none;
  z-index: 16;
  position: relative;
}

.border-form {
  padding-top: 0;
}

.form_title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  margin-bottom: 42px;
}

.content_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.inf_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 18px;
  line-height: 28px;
  text-transform: initial;
}
.inf_form a {
  color: #000000;
}

.your_inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.your_inf2 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.your_inp {
  width: 310px;
  height: 41px;
  opacity: 0.5;
  border-bottom: 1px solid #2C4058;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  outline: none;
  padding: 0 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.your_inp:hover {
  outline: 1px solid #2C4058;
  border-radius: 10px;
}
.your_inp:focus {
  opacity: 1;
  border-radius: 10px;
}

.your_btn {
  width: 140px;
  height: 50px;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  border: 1px solid #2C4058;
}
.your_btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #2C4058;
  color: #ffffff;
}

.span_form {
  margin-left: 10px;
}

footer {
  background-repeat: no-repeat;
  background-size: cover;
}

.footer_wrapper {
  height: 344px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1190px;
}

.credit {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0 0 26px 22px;
}
.credit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.forma_button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
}

.forma_button-btn {
  width: 140px;
  height: 50px;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  border: 1px solid #2C4058;
  background-color: #2C4058;
  color: #ffffff;
}
.forma_button-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #2C4058;
}

.social_footer {
  padding: 0 14px 81px 0;
}